/*styles.css----------*/
/* ---- */
/* Pour la page login uniquement */
/* ---- */

/* BODY */
body {
    background-color: grey;
}

/* Bordered form */
.formlogin {
    border: 3px solid #f1f1f1;
    width: 50%;
    align-content: center;
}

.inlogin,
.btlogin,
.lbpseudo {
    font-size: 20px;
}

/* 50%-width inputs */
.inlogin {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btlogin {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Avatar image */
img.avatar {
    width: 130px;
    border-radius: 10%;
}

.t1 {
    padding: 5px;
    width: 200px;
    margin: 10px;
    color: white;
    vertical-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Gestion sur mobile */
@media screen and (max-width: 1024px) {

    /* Avatar image */
    img.avatar {
        width: 200px;
    }

    /* Bordered form */
    .formlogin {
        width: 100%;
    }

    .inlogin,
    .btlogin,
    .lbpseudo {
        font-size: 40px;
    }

    .t1 {
        font-size: 80px;
    }
}

/* ---- */
/* couleurs prédéfinies : http://web-color.aliasdmc.fr/couleurs-hexa-rgb-hsl-predefini-html-css.php; */